<div class="modal fade" id="calculator2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Two Way Calculator</h5>
        <div class="row">
          <button type="button" class="btn btn-secondary mr-3" (click)="result='';firstNumber='';secondNumber='';action=''">Clear</button>
          <button type="button" class="btn btn-danger mr-3" data-dismiss="modal" (click)="result=''">Close</button>
        </div>
      </div>
      <div class="modal-body">
        <form>
          <div class="alert alert-info" role="alert">
            {{firstNumber}} {{action?action:'?'}} {{secondNumber}} {{result?'=':''}} {{result}}
          </div>
          <hr>
          <div class="row mt-3">
            <div class="col">
              <input type="number" 
                     class="form-control" 
                     placeholder="First Number" 
                     #firstnumber name="firstnumber" 
                     (keyup)="mathAction()"
                     (change)="mathAction()"
                     [(ngModel)]="firstNumber">
            </div>
            <div class="col">
              <input type="number" 
                     class="form-control" 
                     placeholder="Second Number" 
                    #secondnumber name="secondnumber" 
                    (keyup)="mathAction()"
                    (change)="mathAction()"
                    [(ngModel)]="secondNumber">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-primary btn-lg action" (click)="action='+';mathAction()">+</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-info btn-lg action ml-3" (click)="action='-';mathAction()"> - </button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-success btn-lg action ml-3" (click)="action='x';mathAction()">X</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-warning btn-lg action ml-3" (click)="action='/';mathAction()">/</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>