<nav class="navbar navbar-light justify-content-center">
  <form class="form-inline ">
    <button class="btn btn-outline-success mr-5" 
            type="button"
            routerLink="/app-one-way"
            data-toggle="modal" data-target="#calculator1">One Way</button>
    <button class="btn btn-outline-success ml-5 mr-5" 
            type="button"
            routerLink="/app-two-way"
            data-toggle="modal" data-target="#calculator2">Two Way</button>
    <button class="btn btn-outline-success ml-5" 
            type="button"
            routerLink="/two-way-service"
            data-toggle="modal" data-target="#calculator3">With Service</button>
  </form>
</nav>
