<nav class="navbar navbar-light bg-light justify-content-center">
  <form class="form-inline ">
    <button class="btn btn-outline-success" 
            type="button"
            routerLink="/app-one-way">One Way</button>
    <button class="btn btn-outline-success ml-5" 
            type="button"
            routerLink="/app-two-way">Two Way</button>
    <button class="btn btn-outline-success ml-5" 
            type="button"
            routerLink="/two-way-service">With Service</button>
  </form>
</nav>
