<div class="container justify-content-center">
  <button type="button" class="btn btn-outline-primary btn-block mt-5" data-toggle="modal" data-target="#calculator">
    One Way Calculator
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="calculator" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">One Way Calculator</h5>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Result" value="{{result}}">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <input type="text" class="form-control" placeholder="First Number" #firstnumber>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Second Number" #secondnumber>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <button type="button" 
                      class="btn btn-primary btn-lg action ml-4" 
                     (click)="sum(firstnumber.value,secondnumber.value)">+</button>
            </div>
            <div class="col">
              <button type="button" 
                      class="btn btn-secondary btn-lg action ml-4" 
                     (click)="subtraction(firstnumber.value,secondnumber.value)">-</button>
            </div>
            <div class="col">
              <button type="button" 
                      class="btn btn-success btn-lg action ml-3"
                    (click)="multiplication(firstnumber.value,secondnumber.value)">X</button>
            </div>
            <div class="col">
              <button type="button" 
                      class="btn btn-danger btn-lg action ml-2"
                     (click)="division(firstnumber.value,secondnumber.value)">/</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>