<div class="container justify-content-center">
  <button type="button" class="btn btn-outline-primary btn-block mt-3" data-toggle="modal" data-target="#calculator">
   One Way Calculator
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="calculator" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">One Way Calculator</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col">
              <button type="button" class="btn btn-primary btn-lg action ml-4">+</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-secondary btn-lg action ml-4">-</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-success btn-lg action ml-3">X</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-danger btn-lg action ml-2">/</button>
            </div>                                                 
        </div>         
      </div>   
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>